# Created by .ignore support plugin (hsz.mobi)
.idea/
/chapter1/node_modules/
/chapter2/node_modules/
/chapter3/node_modules/
/chapter4/node_modules/
/chapter5/node_modules/
/chapter6/node_modules/
/chapter10/node_modules/
